h1 {
    font-size: 70px;
    font-weight: 400;
    margin-bottom: 2%;
    text-align: center;
    background-color:#313131;
    color:#07bce9;
}
body{
    background-color:#a3a3a3;
    font-family: "Audiowide", sans-serif;
    color: #313131;
}

